{% extends 'accounts/main.html' %}
{% load widget_tweaks %}
{% load static %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
<style>

    .filepond--root{
        height: 6rem;
        width : 6rem;
    }
    .filepond--credits{
        display: none;
    }
</style>
<link rel="stylesheet" href='{% static "css/filepond.min.css" %}'>
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

{% endblock %}


{% block body_block %}
    <main id="edit-profile">
        <div class="edit-profile__container">

            <form action="" class="edit-profile__form" method="post">
                {% csrf_token %}
                <div class="edit-profile__header" >
                    <div class="edit-profile__avatar-container">
    <!--                    <img src="" class="edit-profile__avatar" />-->
                        <div style="display:flex;justify-content:center;">
                            <input type="file" name="filepond">
                        </div>
                        <b>Username: {{ user.username }}</b>
                    </div>
<!--                    <h4 class="edit-profile__username"></h4>-->
                </div>
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}" class="form__label">First Name:</label>
                    {% render_field form.first_name class='form-control' %}
                      <div class="form-group has-errors text-danger small">
                                {{form.first_name.errors}}
                      </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}" class="form__label">Last Name:</label>
                    {% render_field form.last_name class='form-control' %}
                      <div class="form-group has-errors text-danger small">
                                {{form.last_name.errors}}
                      </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="form__label">Email:</label>
                    {% render_field form.email placeholder='Email Address' class='form-control' %}
                      <div class="form-group has-errors text-danger small">
                                {{form.email.errors}}
                      </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.bio.id_for_label }}" class="form__label">Bio:</label>
                    {% render_field form.bio style="resize:none;" rows="5" class='form-control' %}
                      <div class="form-group has-errors text-danger small">
                                {{form.bio.errors}}
                      </div>
                </div>
                <div class="form-group">
<!--                    <label for="filepond" class="form__label">Profile_pic:</label>-->
<!--                    <div style="display:flex;justify-content:center;">-->
<!--                    <input type="file" name="filepond">-->
<!--                    </div>-->
                </div>
                <div class="form-group submit-btns">
                <input type="submit" value="Submit" class="btn btn-primary">
                <input type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'posts:accounts_main' username=user.username %}';" value="Cancel" />
                </div>
            </form>
        </div>
    </main>
        <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
        <script src='{% static "js/filepond.min.js" %}'></script>
{% endblock %}

{% block afer_body %}
<style>
    footer{
        position: static;
    }
</style>
<script>

FilePond.registerPlugin(FilePondPluginImagePreview);
FilePond.registerPlugin(FilePondPluginFileValidateType);
FilePond.setOptions({
    server: {
        url: '/',
        process: 'fp/process/',
        patch: 'fp/patch/',
        revert: 'fp/revert/',
        fetch: 'fp/fetch/?target=http://localhost:8000/{{user.profile_pic.url}}',
        load: 'fp/load/'
    }
});
const inputElement = document.querySelector('input[type="file"]');

// create a FilePond instance at the input element location
const pond = FilePond.create( inputElement,{
  allowMultiple: false,
  stylePanelLayout: 'compact circle',
  styleLoadIndicatorPosition: 'center bottom',
  styleProgressIndicatorPosition: 'center bottom',
  styleButtonProcessItemPosition: 'center bottom',
  styleButtonRemoveItemPosition: 'center top',
  acceptedFileTypes: ['image/*'],
  files: [
        {
            // the server file reference
            source: '{{user.profile_pic.url}}',


        }
    ]
  });
</script>
{% endblock %}