{% extends 'base.html' %}
{% load static %}

{% block indexsignup %}
<div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 centers">
                    <p class="pros">A better way to work together.</p>
                    <p class="pross">Prockit brings people together to share their projects,  work through problems, move ideas forward, and learn from each other along the way.</p>
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 col-xss-8 center">
                    <form method="post" action="{% url 'signup' %}">
                        {% csrf_token %}
                        <div class="text-field">
                        <input type="text" name="username" placeholder="Username" class="form-control" required>
                        </div>

                        <div class="text-field">
                        <input type="email" name="email" placeholder="Email" class="form-control" required>
                        </div>

                        <div class="text-field">
                        <input type="password" name="password" placeholder="Password" class="form-control" required>
                        </div>

                        <div class="pass">
                        <p>Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.</p>
                        </div>
                        <input type="submit" class="form-control submit" value="Sign up for Prockit">
                        <p>By clicking “Sign up for Prockit”, you agree to our Terms of Service and Privacy Statement. </p>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}


{% block body_block %}
<section class="betters"  id="projects">
    <div class="container">
        <h2>Recent Projects</h2><br><br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="autoplay">
               <div><img src="images/m4.jpg" class="img-responsive"></div>
              <div><img src="images/m7.jpg"  class="img-responsive"></div>
              <div><img src="images/l7.jfif" class="img-responsive"></div>
              <div><img src="images/l2.jfif" class="img-responsive"></div>
            </div>
            </div>
        </div>
        </div>
    </section>


    <section class="better" id="features">
        <div class="container">
            <h2>Features</h2><br><br>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="b4">
                    <img src="images/m5.png">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="b4">
                    <p>Developers use Prockit for displaying their personal projects,
                        and sharing them with friends.<br> <br> <br>
                        Our features help you to express yourself and connect with the people.<br> <br> <br>
                        Discover original content from Creators you already love,or new accounts you might like.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <section class="best">

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

                        <img src="images/l8.jfif" class="img-responsive">
                        <p>Forum is the place where you can talk about different projects with fellow members</p>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

                        <img src="images/m9.png" class="img-responsive">
                        <p>Data remains protected at all times and your security is our priority</p>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

                        <img src="images/m3.jfif" class="img-responsive">
                        <p>All projects at one place can be accessed easily.</p>

                    </div>
                </div>
            </div>


      </section>

    <section class="log" id="login">
        <h2>Login</h2><br><br>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 col-sm-0 col-xs-0">
                    <div class="b1">
                    <img src="images/comp.png" class="img-fluid ">
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 forms">
                    <div class="b1">
                    <div class="imgcontainer">
                    <img src="images/login.jfif" class="ava">
                    </div>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                         <input type="text" name="username" placeholder="Username" class="form-control" required>
                         <input type="password" name="password" placeholder="Password" class="form-control" required>
                         <input type="submit" class="form-control submit" value="Login">
                         <a href="#">Forget Password</a>
                         <p>Don't have an account? <a href="{% url 'signup' %}">Register here</a></p>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
            <h2>We're happy to hear from you</h2><br><br>
            <div class="conatiner">
                <form class="contact-form">
                    <input name="name" type="text" class="form-control" placeholder="Your Name" required>
                    <br>
                    <input name="email" type="email" class="form-control" placeholder="Your Email" required>
                    <br>

                    <textarea name="message" class="form-control" placeholder="Message" row="4" required></textarea>
                    <br>

                    <input type="submit" class="form-control submit" value="Send Message">
                    <br>

                </form>
            </div>
    </section>
{% endblock %}