{% extends 'base.html' %}
{% load static %}

{% block indexsignup %}
<div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 centers">
                    <p class="pros">Built Some&nbsp;Projects? Share it with everyone.</p>
                    <p class="pross">Let the world know about your hordwork and gain meaningful insights in the process! </p>
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 col-xss-8 center">
                    <form method="post" action="{% url 'signup' %}">
                        {% csrf_token %}
                        <div class="text-field">
                        <input type="text" name="username" placeholder="Username" class="form-control" required>
                        </div>

                        <div class="text-field">
                        <input type="email" name="email" placeholder="Email" class="form-control" required>
                        </div>

                        <div class="text-field">
                        <input type="password" name="password1" placeholder="Password" class="form-control" required>
                        </div>

                        <div class="pass">
                        <!--<p>Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.</p>-->
                        </div>
                        <input type="submit" class="form-control submit" value="Sign up for Prockit">
                        <p>By clicking “Sign up for Prockit”, you agree to our Terms of Service and Privacy Statement. </p>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}


{% block body_block %}
<section class="betters"  id="projects">
    <div class="container">
        <h2>Recent Projects</h2><br><br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="autoplay">
               <div><img src="{% static 'images/recentproj1.webp' %}" class="img-responsive"></div>
              <div><img src="{% static 'images/recentproj2.webp' %}"  class="img-responsive"></div>
              <div><img src="{% static 'images/recentproj3.webp' %}" class="img-responsive"></div>
              <!--<div><img src="images/l2.jfif" class="img-responsive"></div>-->
            </div>
            </div>
        </div>
        </div>
    </section>


    <section class="better" id="features">
        <div class="container">
            <h2>Features</h2><br><br>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="b4">
                    <img src="{%static 'images/m5.png' %}">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="b4">
                    <p>Use Prockit to display your personal projects,
                        and share them with your friends.<br> <br> <br>
                        Express yourself and connect with the people.<br> <br> <br>
                        Look what others made and gain useful insights in the process. </p>
                    </div>
                </div>
            </div>
        </div>

    </section>




<!--    <section class="best">-->

<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">-->

<!--                        <img src="{% static 'images/l8.jfif' %}" class="img-responsive">-->
<!--                        <p>Forum is the place where you can talk about different projects with fellow members</p>-->

<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">-->

<!--                        <img src="{% static 'images/m9.png' %}" class="img-responsive">-->
<!--                        <p>Data remains protected at all times and your security is our priority</p>-->

<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">-->

<!--                        <img src="{% static 'images/m3.jfif' %}" class="img-responsive">-->
<!--                        <p>All projects at one place can be accessed easily.</p>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--      </section>-->

    <section class="log" id="login">
        <h2>Login</h2><br><br>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 col-sm-0 col-xs-0" style="display:flex;">
                    <div class="b1">
                    <img src="{% static 'images/loginhero.svg' %}" class="img-fluid ">
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 forms">
                    <div class="b1">
                    <div class="imgcontainer">
                    <img src="{% static 'images/login.jfif' %}" class="ava">
                    </div>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                         <input type="text" name="username" placeholder="Username" class="form-control" required>
                         <input type="password" name="password" placeholder="Password" class="form-control" required>
                         <input type="submit" class="form-control submit" value="Login">
                            <h6 style="text-align: center; margin: 8px;">OR</h6>
                         <a href="/allauth/github/login/?process=login" class="btn btn-social btn-github git-login">
                            <span class="fa fa-github"></span>
                            Login with GitHub
                         </a>
                         <a href="#">Forgot Password ?</a>
                         <p>Don't have an account? <a href="{% url 'signup' %}">Register here</a></p>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
            <h2>We're happy to hear from you</h2><br><br>
            <div class="conatiner">
                <form class="contact-form">
                    <input name="name" type="text" class="form-control" placeholder="Your Name" required>
                    <br>
                    <input name="email" type="email" class="form-control" placeholder="Your Email" required>
                    <br>

                    <textarea name="message" class="form-control" placeholder="Message" row="4" required></textarea>
                    <br>

                    <input type="submit" class="form-control submit" value="Send Message">
                    <br>

                </form>
            </div>
    </section>
{% endblock %}